*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #8B0000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #a52a2a;
    padding: 20px;
    border-radius: 10px;
}

.timer-buttons button {
    background-color: #ff6347;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.timer-buttons button:hover {
    background-color: #ff4500;
}

.time-display {
    font-size: 48px;
    margin: 20px 0;
}

.start-button {
    background-color: #32cd32;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.start-button:hover {
    background-color: #228b22;
}

.tasks {
    margin-top: 20px;
}

#taskList {
    list-style: none;
    padding: 0;
}

#taskList li {
    background-color: #ff6347;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

#taskInput {
    padding: 10px;
    width: calc(100% - 24px);
    border-radius: 5px;
    border: none;
    margin-top: 10px;
}

#addTaskButton {
    background-color: #32cd32;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

#addTaskButton:hover {
    background-color: #228b22;
}
